body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div {
  border: 2px solid black;
}

.compare_container {
  width: 100%;
  display: flex
}

.compare_container .card {
  width: 50%
}


.card {
  border: 2px solid red;
  padding: 10px

}

.green {
  background-color: #b6d7a8;
}


.link {
  display: flex;
  text-decoration: none;
  color: rgb(41, 98, 255);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.logo {
  font-family: "Permanent Marker", cursive;
  font-size: 3rem;
  color: rgb(20, 83, 255);
  margin: 0;
  line-height: 1;
}