body {
  margin: 0;
  font-family: 'Roboto', 'Arial', 'sans-serif';
  background-color: rgba(255, 255, 255, 0.85);
}

div {
  border: 2px solid black;
}

.compare_container {
  width: 100%;
  display: flex
}

.compare_container .card {
  width: 50%
}


.card {
  border: 2px solid red;
}


.card img {
    max-width: 80%;  
    height: auto;  
    margin-top: 10%;
    box-shadow: 2px black;
}
.compare-title {
  text-align: left;
  max-width: 80%;
  margin-left: 10%;
}

.green {
  background-color: #b6d7a8;
}


.link {
  display: flex;
  text-decoration: none;
  color: rgb(41, 98, 255);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.logo {
  font-family: "Permanent Marker", cursive;
  font-size: 3rem;
  color: rgb(20, 83, 255);
  margin: 0;
  line-height: 1;
}

.list-item {
  display: flex;
  width: 70%;
  margin-left: 17.5%;
}

.fourty img{
  margin-top: 13px;
  width: 100%;
}

.fourty {
  width: 40%;
  border: 2px solid blue
}
.sixty {
  width: 60%;
}
.sixty h2, p{
  padding-left: 3%;
  text-align: left;
}
