body {
  margin: 0;
  font-family: 'Roboto', 'Arial', 'sans-serif';
  background-color: #efefef;
}

img {
  background-color: #b7b7b7;
}
img:hover {
  cursor: pointer
}

div {
  border: 2px solid black;
}

.compare_container {
  width: 100%;
  display: flex
}

.compare_container .card {
  width: 50%
}


.card {
  border: 2px solid red;
}


.card img {
    max-width: 80%;  
    height: auto;  
    margin-top: 10%;
    box-shadow: 2px black;
}
.compare-title {
  text-align: left;
  max-width: 80%;
  margin-left: 10%;
}

.green {
  background-color: #b6d7a8;
}


.link {
  /* display: flex; */
  text-decoration: none;
  color: rgb(41, 98, 255);
  margin-left:8%;
  margin-right:8%;
  border: 2px solid green;
  padding: 3px;
}

.wrapper {
  /* display: flex; */
  justify-content: center;
  /* align-items: center; */
  padding: 8px;
}

.logo {
  font-size: 3rem;
  color: rgb(20, 83, 255);
  margin: 0;
  line-height: 1;
}

.list-item {
  display: flex;
  width: 70%;
  margin-left: 17.5%;
}

.fourty img{
  margin-top: 13px;
  width: 100%;
}

.fourty {
  width: 39%;
  border: 2px solid blue
}
.sixty {
  width: 60%;
}
.sixty h2, h3, p{
  padding-left: 3%;
  text-align: left;
}
.hundred {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.ninety {
  width:95%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 5%;
}
.circle {
  clip-path: circle();
}
.twenty-five {
  width: 25%;
  border: 2px solid blue
}
.twenty-five img {
  margin-top: 13px;
  width: 100%;
}
.seventy-five {
  width: 74%;
}
.seventy-five h3, h4, h5, p{
  padding-left: 3%;
  text-align: left;
}
.center {
  width: 100%;
  text-align: center;
}
.form {
  padding-top: 3rem;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 20%
}

form label, input, p{
  width:100%;
  text-align: left;
}
